<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput placeholder="Ex. Jon" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Jon" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Ex. Jon"
      formControlName="password"
    />
  </mat-form-field>
  <button
    color="accent"
    [disabled]="!signupForm.valid"
    mat-raised-button
    type="submit"
  >
    <span>Sign up</span>
  </button>
</form>
